.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 340px;
  padding: 0;

  @include vp-1199 {
    width: 266px;
  }

  @include vp-1199 {
    width: 100%;
  }

  input,
  textarea {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    min-height: 64px;
    margin-right: auto;
    padding: 21px 30px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid rgba(2, 102, 193, 0.1);
    background: $color-default-white;
    outline: none;

    transition: border 0.3s ease;

    @include vp-1199 {
      min-height: 50px;
      padding: 14px 15px;
    }

    &::placeholder {
      color: $color-primary;
      opacity: 0.5;
      line-height: 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

      @include vp-1199 {
        line-height: 14px;
        font-size: 14px;
      }

      &:hover {
        border: 2px solid rgba(#000000, 0.5);
      }

      &:focus {
        border: 2px solid rgba(#000000, 0.8);
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      padding: 21px 29px;
      border: 1px solid rgba(255, 18, 31, 1);

      @include vp-1199 {
        padding: 21px 29px;
      }

      &:focus,
      &:hover {
        padding: 21px 29px;
        border: 1px solid rgba(255, 18, 31, 1);

        @include vp-1199 {
          padding: 21px 29px;
        }
      }
    }
  }

  &.is-valid {
    input {
      padding: 22px 30px;

      @include vp-1199 {
        padding: 22px 30px;
      }

      &:focus,
      &:hover {
        padding: 21px 29px;

        @include vp-1199 {
          padding: 21px 29px;
        }
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
