.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 340px;
  padding: 0;

  @include vp-1199 {
    width: 266px;
  }

  @include vp-1199 {
    width: 100%;
  }

  input,
  textarea {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    min-height: 64px;
    margin-right: auto;
    padding: 21px 30px;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid rgba(2, 102, 193, 0.1);
    background: $color-default-white;
    outline: none;
    transition: border 0.3s ease;

    @include vp-1199 {
      min-height: 50px;
      padding: 14px 15px;
    }

    &::placeholder {
      color: $color-primary;
      opacity: 0.5;
      line-height: 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;

      @include vp-1199 {
        line-height: 14px;
        font-size: 14px;
      }
    }

    &:focus::-webkit-input-placeholder,
    &:active::-webkit-input-placeholder {
      color: transparent;
    }

    &:hover(:not(:active)) {
      border:solid 1px $color-navy-blue;

      &::placeholder {
        color: $color-navy-blue;
        opacity: 1;
        transition: color $trans-default;
      }
    }

    &:focus,
    &:active {
      border: solid 1px $color-resolution-blue;
    }

    &:disabled {
      pointer-events: none;

      &::placeholder {
        color: $color-primary;
        opacity: 0.1;
      }
    }
  }
}

.custom-input.is-invalid input {
  border: solid 1px  #ff121f;
}
