.hero__swiper {
  color: $color-default-white;
}

.hero__slide.swiper-slide-active {
  visibility: visible;
}

.hero__slide {
  position: relative;
  min-height: 800px;
  background-size: cover;
  height: auto;
  background-color: #45628b;
  visibility: hidden;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $big-slider-overlay;
  }

  &--first {
    background-image: url("../img/hero/slide-1-desktop.jpg");

    @include retina {
      background-image: url("../img/hero/slide-1-desktop@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/hero/slide-1-tablet.jpg");

      @include retina {
        background-image: url("../img/hero/slide-1-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/slide-1-mobile.jpg");

      @include retina {
        background-image: url("../img/hero/slide-1-mobile@2x.jpg");
      }
    }
  }

  &--second {
    background-image: url("../img/hero/slide-2-desktop.jpg");

    @include retina {
      background-image: url("../img/hero/slide-2-desktop@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/hero/slide-2-tablet.jpg");

      @include retina {
        background-image: url("../img/hero/slide-2-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/slide-2-mobile.jpg");

      @include retina {
        background-image: url("../img/hero/slide-2-mobile@2x.jpg");
      }
    }
  }

  &--third {
    background-image: url("../img/hero/slide-3-desktop.jpg");

    @include retina {
      background-image: url("../img/hero/slide-3-desktop@2x.jpg");
    }

    @include vp-1199 {
      background-image: url("../img/hero/slide-3-tablet.jpg");

      @include retina {
        background-image: url("../img/hero/slide-3-tablet@2x.jpg");
      }
    }

    @include vp-767 {
      background-image: url("../img/hero/slide-3-mobile.jpg");

      @include retina {
        background-image: url("../img/hero/slide-3-mobile@2x.jpg");
      }
    }
  }
}

.hero__slide-container {
  padding: 182px 120px 80px;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;

  @include vp-1199 {
    padding: 174px 45px 84px;
    text-align: center;
    margin: 0 auto;
  }

  @include vp-767 {
    padding: 139px 15px 35px;
    height: 100%;
    min-height: 568px;
  }

  h3 {
    padding-bottom: 25px;
    margin: 0;
    font-size: 77px;
    font-style: normal;
    font-weight: 800;
    line-height: 77px;
    max-width: 944px;

    @include vp-1199 {
      font-size: 56px;
      line-height: 56px;
      padding-bottom: 15px;
    }

    @include vp-767 {
      font-size: 30px;
      line-height: 30px;
    }
  }

  p {
    margin: 0;
    padding-bottom: 35px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 471px;

    @include vp-1199 {
      padding-bottom: 25px;
      margin: 0 auto;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      padding-bottom: 20px;
    }
  }
}

.hero__slide-button {
  width: 220px;
  font-weight: 500;
  text-transform: unset;
  line-height: 16px;
  margin-bottom: 150px;

  @include vp-1199 {
    width: 206px;
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 0;
  }
}

.hero__slide-extra {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  width: 100%;

  @include vp-1199 {
    display: none;
  }
}

.hero__extra-item {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 13px 19px 13px 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  column-gap: 7px;
  align-items: center;
}

.hero__slide-audio {
  position: absolute;
  top: 301px;
  right: 120px;
  //z-index: 2;

  @include vp-767 {
    display: none;
  }
}

.hero__photos-wrapper {
  position: absolute;
  top: 202px;
  right: 120px;
  width: 410px;
  height: 459px;
  z-index: -1;

  @include vp-1199 {
    position: unset;
    margin: 0 auto;
    width: 442px;
    height: 365px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__swiper .hero__swiper-pagination {
  position: relative;
  bottom: 97px;
  width: 100%;
  height: 0;
  display: flex;
  column-gap: 15px;
  justify-content: end;
  z-index: 2;

  @include vp-1199 {
    bottom: 100px;
    justify-content: center;
  }

  @include vp-767 {
    bottom: 40px;
  }
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid $color-default-white;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &--active {
    border: none;
    background-color: $color-default-white;
    cursor: default;
  }
}
